* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
  width: 800px;
}

header {
  padding: 1rem 0;
  border-bottom: 1px solid #dcdcdc;
}

main {
  padding: 1rem 0;
}

main img {
  width: 100%;
  height: auto;
  visibility: hidden;
}

h3 {
	margin-top: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
